<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	
  <properties resource="db.properties" />
  <!--  경로 : 클래스 파일이 있는 클래스 패스 기준	 -->
  
  <settings>
	<!-- jdbcType을 따로 설정하지 않아도 NULL 이 들어가면 NULL 로 처리 => (부적합한 열유형:1111 이 뜨지 않게함)  -->
  	<setting name="jdbcTypeForNull" value="NULL"/>
	<!-- DB 컬럼명을 낙타표기법으로 속성명과 자동 매핑 설정하기 -->
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <typeAliases>
  	<typeAlias type="kr.or.ddit.member.vo.MemberVO" alias="memVO"/>
  </typeAliases>
  	
	<!-- 다른 설정을 사용하고 싶을 때는 <environments default="dev"> 만 "real"로 바꿔주면 됨 -->
  	<environments default="dev">
  		<environment id="dev">
  			<transactionManager type="JDBC" />
  			<dataSource type="POOLED">
  				<property name="driver" value="${driver}"/>
  				<property name="url" value="${url}"/>
  				<property name="username" value="${user}"/>
  				<property name="password" value="${password}"/>
  				<!-- 활성화된 최대 커넥션 수 -->
  				<property name="poolMaximumActiveConnections" value="2"/>
  				<!-- 유휴상태에서 최대 커넥션 수 -->
  				<property name="poolMaximumIdleConnections" value="2"/>
  			</dataSource>
  		</environment>
  	</environments>	
  
  	<mappers>
  		<mapper resource="mappers/member.xml" />
  		<mapper resource="mappers/board.xml" />
  	</mappers>
	<!--  쿼리가 저장된 mapper 파일을 myBatis에게 알려줘야함  -->
	
  </configuration>
  