<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="MultiChatFileAppender" fileName="logs/multi-chat.log"
                     filePattern="logs/multi-chat-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MultiChatFileAppender"/>
        </Root>
        <!-- 에러 이벤트만 로그 파일에 출력 -->
        <!--
        <Logger name="homework.MultiChatServer" level="error" additivity="false">
            <AppenderRef ref="MultiChatFileAppender"/>
        </Logger>
        <Logger name="homework.MultiChatClient" level="error" additivity="false">
            <AppenderRef ref="MultiChatFileAppender"/>
        </Logger>
        -->
    </Loggers>
</Configuration>
